[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-cors = "*"
flask-smorest = "*"
python-dotenv = "*"
pymysql = "*"
pyjwt = "*"
flask-sqlalchemy = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
